.authors{
    border: 1px solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-author{
    margin-bottom: 30px;
}
.list-authors{
    width: 80%;
    border: 1px solid;
    margin-bottom: 30px;
}